#blog-section{margin-top:40px;margin-bottom:80px;}
.content-title{padding:5px;background-color:  #f3bdf3; color: #570d40b9;}
.content-title h3 a{color: #3b072bb9;font-weight: bold; text-decoration:none; transition: 0.5s;}
.content-title h3 a:hover{color:black; }
.content-footer{ background-color: solid#570d40b9 ;padding:10px;position: relative;}
.content-footer span a {
    color: #570d40b9;
    display: inline-block;
    padding: 6px 5px;
    text-decoration: none;
    transition: 0.5s;
}
.content-footer span a:hover{     
    color:black;   
}
aside{
    
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 4px 16px 3px rgb(10, 4, 10);;
-moz-box-shadow: 1px 4px 16px 3px rgb(10, 4, 10);;
box-shadow: 1px 4px 16px 3px rgb(10, 4, 10);}
aside .content-footer>img {
    width: 25%;
    height: 25%;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid black;
}